.container{
    position: relative;
    top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #C0EDA6;
    color: #FD5D5D;
    font-size: 2rem;
}
.cover{
    background-color: #000;
    /* background-color: #FF8080; */
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
    /* display: none; */
}
.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-container{
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.result-container p{
    min-width: 350px;
}
.btn{
    width: 300px;
    height: 80px;
    margin: 50px;
    font-size: 2rem;
}
